* {
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url('../images/bg.jpg');
    background-size: 100%;
    height: 2000px:
    color: #13FFFA;
}
nav {
    width: 100%;
    height: 60px;
    background-color: #000000;
    box-shadow: 0px 10px 0px 0px #13FFFA;
    top: 0;
    position: fixed;
}
nav p {
    font-family: arial;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
nav ul {
    float: left;
    background-color: black;
    color: #FFFFFF;
}
nav ul li {
    float: left;
    background-color: black;
    color: black;
    list-style: none;
    position: relative;
}
nav ul li a {
    display: block;
  font-family: arial;
  color: #ffffff;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
    display: block;
    
}
nav ul li ul li a {
    background-color: #fff;
    color: black;
    padding: 12px 14px;
}
nav ul li ul li a:hover {
    color: black;
    padding: 15px 20px;
}
nav ul li ul li {
    border-radius: 4px;
    box-shadow: black 10px;
    width: 180px;
}
body div {
    margin-left: 380px;
    background-color: #595959;
    margin-top: 170px;
    padding: 50px;
    color: #13FFFA;
    height: 280px;
    width: 425px;
    border-radius: 50px;
    box-shadow: 0px 0px 120px 0px #13FFFA;
}
body div h2 {
    padding-bottom: 20px;
    color: #959693;
    font-size: 40px;
}
body div h3 {
    padding-top: 50px;
    color: #FFFFFF;
    font-size: 30px;
}

body div h1 {
    padding-top 20px;
    font-size: 60px;
}
script {
    background-color: #575757;
    color: #FFFFFF;
}
br {
    padding: 110px;
}