* {
  margin: 0;
  padding: 0;
}
body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #000000;
  box-shadow: 0px 10px 0px 0px #13fffa;
  top: 0;
  position: fixed;
}
nav p {
  font-family: arial;
  color: #ffffff;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}
nav ul {
  float: left;
  background-color: black;
  color: #ffffff;
}
nav ul li {
  float: left;
  background-color: black;
  color: black;
  list-style: none;
  position: relative;
}
nav ul li a {
  display: block;
  font-family: arial;
  color: #ffffff;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
  display: block;
}
nav ul li ul li a {
  background-color: #fff;
  color: black;
  padding: 12px 14px;
}
nav ul li ul li a:hover {
  color: black;
  padding: 15px 20px;
}
nav ul li ul li {
  border-radius: 4px;
  box-shadow: black 10px;
  width: 180px;
}
body div h1 {
  font-size: 30px;
  background-color: #595959;
  margin-top: 210px;
  height: 30px;
  width: 140px;
  font-family: arial;
  display: center;
  margin-left: 560px;
  padding: 30px;
  border-radius: 50px;
}
h1 {
  color: #ffe300;
  margin-left: 10px;
}
body div p {
  margin-left: 0px;
  font-size: 36px;
  background-color: #595959;
  margin-top: 20px;
  padding: 20px;
  font-family: arial;
  height: 200px;
  width: 100%;
  border-radius: 50px;
}
p {
  color: white;
  margin-left: 10px;
}
body div .myEXP {
  margin-left: 560px;
  font-size: 30px;
  background-color: #595959;
  margin-top: 130px;
  padding: 25px;
  height: 30px;
  width: 230px;
  border-radius: 50px;
  font-family: arial;
}
img {
  height: 100px;
  margin-left: 120px;
  margin-top: 30px;
}
.html {
  margin-left: 550px;
}
.images {
  margin-top: 120px;
  height: 200px;
  width: 100%;
  border-radius: 50px;
  background-color: #565656;
} 
