<html>
  <head>
    <script src="js/Script.js"></script>
    <link rel="icon" href="images/icon.jpg">
  </head>
  <title>My Portfolio</title>
  <link href="css/Portfolio.css" rel="stylesheet" type="text/css" />
  <nav>
    <p onmouseover="changeColor(this)" onmouseout="changeColorUI(this,'white')">
      Jacob Reid
    </p>
    <ul>
      <li>
        <a
          href="index.html"
          onmouseover="changeColorUI(this,'#13FFFA')"
          onmouseout="changeColorUi(this,'white')"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#"
          onmouseover="changeColor(this)"
          onmouseout="changeColorUI(this,'white')"
          >My Portfolio</a
        >
        <ul>
          <li>
            <a
              href="links/aboutMe/index.html"
              onmouseover="changeColorUI(this,'13FFFA'); changeBgColor(this,'grey')"
              onmouseout="changeBgColor(this,'white'); changeColorUI(this,'black')"
              >About Me</a
            >
          </li>
          <li>
            <a
              href="#"
              onmouseover="changeColorUI(this,'13FFFA'); changeBgColor(this,'grey')"
              onmouseout="changeBgColor(this,'white'); changeColorUI(this,'black')"
              >My projects</a
            >
          </li>
          <li>
            <a
              href="#"
              onmouseover="changeColorUI(this,'13FFFA'); changeBgColor(this,'grey')"
              onmouseout="changeBgColor(this,'white'); changeColorUI(this,'black')"
              >My Plans & Goals</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          href="#"
          onmouseover="changeColor(this)"
          onmouseout="changeColorUI(this,'white')"
          >Contact Me</a
        >
        <ul>
          <li>
            <a
              href="https://www.twitter.com/KhartKaroo"
              onmouseover="changeColorUI(this,'13FFFA'); changeBgColor(this,'grey')"
              onmouseout="changeBgColor(this,'white'); changeColorUI(this,'black')"
              >Twitter</a
            >
          </li>
          <li>
            <a
              href="https://github.com/JacobReidWD"
              onmouseover="changeColorUI(this,'13FFFA'); changeBgColor(this,'grey')"
              onmouseout="changeBgColor(this,'white'); changeColorUI(this,'black')"
              >GitHub</a
            >
          </li>

          <li>
            <a
              href="links/others/index.html"
              onmouseover="changeColorUI(this,'13FFFA'); changeBgColor(this,'grey')"
              onmouseout="changeBgColor(this,'white'); changeColorUI(this,'black')"
              >Others</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  {{content}}
